<launch>
    <arg name="model" default="$(find ri4)/urdf/er14000w.urdf" />
    <arg name="gui" default="true" />
    <param name="robot_description" textfile="$(arg model)" />
    <!-- gui settings, for melodic -->
    <param name="use_gui" value="$(arg gui)"/>
    <!-- gui settings, for noetic -->
    <!-- node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" / -->
    <!-- node name="joint_state_publisher_rv" pkg="joint_state_publisher" type="joint_state_publisher" / -->
    <node name="robot_state_publisher_rv" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz"/>
    <node name="cpp_walk_gazebo" pkg="ri4" type="cpp_walk_gazebo"/>
</launch>
